body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: linear-gradient(to right, #f8f9fa, #e9ecef);
  text-align: center;
}

h1 {
  color: navy;
  text-align: center;
}

h3 {
  color: navy;
  text-align: center;
}

p {
  font-family: 'Courier New', Courier, monospace;
  color: navy;
  font-size: 23px;
  text-align: center;
}

input {
  font-size: 16px;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  font-size: 15px;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: lightskyblue;
}

.button-group button {
  margin: 0 7px;
}

html,
body {
  height: 100%;
  margin: 0;
}

.gradation {
  min-height: 100vh;
  background-image: linear-gradient(90deg, #22d3ee, #8b5cf6);
}